extends layout.pug

mixin directory(item)
  div.header
    a(href="/#" + item.id) #{item.label}
  if item.directories.length
    div.sub
      each dir in item.directories
        a(href="/#" + dir.id) #{dir.label}

block content
  div#contents
    h2 Contents
    each item in recipes
      +directory(item)
    
