mixin content_directory(item)
  div.header
    a(href="/#" + item.id) #{item.label}
  if item.directories.length
    div.sub
      each dir in item.directories
        a(href="/#" + dir.id) #{dir.label}

details
  summary Contents
  div#contents
    each item in recipes
      +content_directory(item)
    
