doctype html
html(lang="en")
  head
    title=label
    link(rel="stylesheet", type="text/css" href="/public/resources/embed-pdf.css")
    script(type='text/javascript', src='/public/resources/pdfobject.min.js')
  body
script.
  PDFObject.embed("#{path}");
