extends layout.pug

block content
  include navigation-bar.pug

  h1 Images

  div.image-gallery
    each path in imagePaths
      - var image = '/public/images/' + path
      - var altText = path.replace(/-/g, ' ').replace(/\..*/, '')
      a(href=image, target="_blank")
        img(src=image, alt=altText, title=altText, loading='lazy')
