extends layout.pug

block scripts
    script(src="/public/resources/themes.js")

mixin directory(item)
  h2
    a(id=item.id, class="inactiveLink") #{item.label}
  ul.recipe-list
    each file in item.files
      li
        a(href=file.path, target="_blank") #{file.label}
  div.sub
    each dir in item.directories
      +directory(dir)

block content
  include navigation-bar.pug

  h1 Recipes
  
  include content.pug

  include search-bar.pug
  
  each item in recipes
    +directory(item)
    
