extends layout.pug

mixin directory(item)
  h2 #{item.label}
  ul.recipe-list
    each file in item.files
      li
        a(href=file.path, target="_blank") #{file.label}
  div.sub
    each dir in item.directories
      +directory(dir)

block content
  include navigation-bar.pug

  h1 Recipes
  
  include search-bar.pug
  
  each item in recipes
    +directory(item)
    
