doctype html
html(lang="en")
  head
    title=Recipes
    link(rel="stylesheet", type="text/css", href="/public/resources/index.css")
    block css
    block scripts
  body(onload=onload)
    block content
  
