doctype html
html(lang="en")
  head
    title Florne Recipes
    link(rel="stylesheet", type="text/css", href="/public/resources/index.css")
    link(rel="icon", type="image/ico", href="/public/resources/favicon.ico")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block css
    block scripts
  body
    block content
  
