doctype html
html(lang="en")
  head
    title=Recipes
    link(rel="stylesheet", type="text/css", href="/public/resources/index.css")
    link(rel="icon", type="image/ico", href="/public/resources/favicon.ico")
    block css
    block scripts
  body
    block content
  
