div
  ul#navigation-bar
    li
      a(href="/") Home
    li
      a(href="/new") New Recipes
    li
      a(href="/images") Image Gallery
    if debugView
      p.debug#debug-view Debug View
    li
      div.dropdown
        a Themes
          div.dropdown-content
            a(onclick="themes.setTheme('default')") Default
            a(onclick="themes.setTheme('cerulean')") Cerulean
            a(onclick="themes.setTheme('slate')") Slate
