extends layout.pug

block scripts
    script(src="/public/resources/highlight-search.js")
    script(type='text/javascript', src='public/resources/search-not-ready.js')


block content
  include navigation-bar.pug

  h1 Results
  
  include search-bar.pug

  p The search is not complete, here are the first few results.

  include search-results.pug
