extends search.pug

block append scripts
  script(type='text/javascript', src='public/resources/search-not-ready.js')

block prepend results
  p The search is not complete, here are the first few results.
