extends layout.pug

block scripts
    script(src="/public/resources/highlight-search.js")
    script.
      window.addEventListener(
        'load',
        function() {highlight.highlightSearchResults("#{query}");}, 
        false
      );

block content
  include navigation-bar.pug

  h1 Results
  
  include search-bar.pug

  block results
    include search-results.pug
