doctype html
html(lang="en")
  head
    title=Recipes
    link(rel="stylesheet", type="text/css", href="public/resources/index.css")
  body
    include navigation-bar.pug

    h1 Results
    
    include search-bar.pug
    
    p I'm afraid search is not ready yet. Please reload in a few seconds.
