extends layout.pug

block scripts
    script(src="/public/resources/highlight-search.js")

block content
  include navigation-bar.pug

  h1 Results
  
  include search-bar.pug
  include search-results.pug
