doctype html
html(lang="en")
  head
    title=Recipes
    link(rel="stylesheet", type="text/css", href="public/resources/index.css")
  body
    include navigation-bar.pug

    h1 Results
    
    include search-bar.pug
    
    ul#search-result
      each item in results
        li
          a(href=item.path, target="_blank") #{item.label}
          each line in item.context
            p #{line}
