/*===========================================================================*/
/* General style */

.inactiveLink {
   pointer-events: none;
   cursor: default;
}

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #444444;
    line-height: 1;
    max-width: 960px;
    padding: 30px;
}

h1 {
    font-size:400%;
    text-align: center;
}

h1, h2 {
    color: #3366FF;
}

div.sub > h2 {
    color: black;
    font-size: 1.17em;
    font-weight: bold;
}

dl {
    margin-bottom:50px;
}

dl dt {
    background:#5f9be3;
    color:#fff;
    float:left; 
    font-weight:bold; 
    margin-right:10px; 
    padding:5px;  
    width:150px; 
}

ol ol {
    list-style-type: lower-alpha;
}

dl dd {
    margin:2px 0; 
    padding:5px 0;
}

table, th, td {
    border: 1px solid black;
}

th {
    background:#5f9be3;
    color:#fff;
    font-weight:bold; 
    margin-right:10px; 
    padding:5px;  
    width:100px; 
    text-align:left
}

table {
    border-collapse:collapse;
}

ul.recipe-list {
    -webkit-column-width: 275px;
    -moz-column-width: 275px;
    column-width: 275px;
}

ul {
    list-style: none;
}

span.query {
    font-weight:bold;
    font-size:105%;
}

a {
    text-decoration: none;
}

li {
    margin-bottom: 7px;
}

a:hover {
    text-decoration: underline;
}

.display-path {
    font-size:85%;
    margin: 0;
    margin-left: 6px;
    margin-bottom: 10px;
    color: #006621;
}

p.line {
    margin-bottom: 4px;
    margin-top: 2px;
}

.search-header {
    margin-bottom: 5px;
}

#search-stats {
    color: #808080;
    margin-top: 3px;
    margin-left: 6px;
    margin-bottom: 10px;
}

.input {
    display: table;
    margin: 0 auto;
    width: 80%;
}

.search-bar {
    width: 85%;
}

/*===========================================================================*/
/* Contents */
details {
    color: #3366FF;
    padding-bottom: 10px;
}

summary{
  outline:none;
  cursor: pointer;
  font-size: 1.5em
}

#contents {
    overflow: hidden;
    padding: 30px;
    text-align: center;
}

#contents a {
    color: #3366FF;
    display: inline-block;
    font-weight: bold;
    padding: 4px;
    font-size: 1.17em;
    font-weight: bold;
    margin: auto;
    width: 100px;
}

#contents > div.sub a {
    color: black;
}

#contents a:link, #navigation-bar a:visited {
    text-decoration: none;
}

#contents a:hover, #navigation-bar a:active{
    background-color: #DDDDDD;
    border-radius: 25px;
}

#contents > div.sub {
    margin: auto;
    width: 80%;
}

/*===========================================================================*/
/* Navigation bar */
#navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navigation-bar li {
    border: 1px solid #C0C0C0;
    float: left;
}

#navigation-bar a:link, #navigation-bar a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #3366FF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#navigation-bar a:hover, #navigation-bar a:active{
    background-color: #DDDDDD;
}

/*===========================================================================*/
/* The conversion style */

.conversion {
    float: left;
}

/*===========================================================================*/
/* Debug style */
.debug {
    color: red;
}

#debug-view {
    font-weight: bold;
    padding: 4px;
    padding-left: 300px;
    margin: 0px;
    margin-bottom: 7px;
}


/*===========================================================================*/
/* Add a page container and content wrapping container to properly position */
/* the footer. */
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

/*===========================================================================*/
/* Footer style */
#footer {
    color: #3366FF;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
}