/*===========================================================================*/
/* General style */

.showOnMobile {
    display: none;
}

@media screen and (max-width: 767px) {
    .showOnMobile {
        display: block;
    }
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}


ul.recipe-list {
    -webkit-column-width: 275px;
    -moz-column-width: 275px;
    column-width: 275px;
}

span.query {
    font-weight:bold;
    font-size:105%;
}

a:hover {
    text-decoration: underline;
}

/*===========================================================================*/
/* Search styling */
.display-path {
    font-size:85%;
    margin: 0;
    color: #006621;
    display: inline;
    padding: 5px;
}

p.line {
    margin-bottom: 4px;
    margin-top: 2px;
}

.collapse {
    font-family: 'Courier New', Courier, monospace;
    font-size:120%;
    font-weight: bold;
    color: #006621;
    cursor: pointer;
    margin-right: 6px;
    display: none; /* Don't display a collapse button by default */
}

.search-details {
    margin-left: 6px;
    margin-bottom: 10px;
}

.search-context {
    overflow: hidden;
}

.search-header {
    margin-bottom: 5px;
}

#search-stats {
    color: #808080;
    margin-top: 3px;
    margin-left: 6px;
    margin-bottom: 10px;
}

.input {
    display: table;
    margin: 0 auto;
    width: 80%;
}

.search-bar {
    width: 85%;
}

.tags {
    display: block;
    margin-top: 5px;
}

.tag {
    display: inline;
    margin-right: 10px;
    padding: 2px;
    border: 2 solid #5f9be3;
    border-radius: 6px;
    background: #5f9be3;
    color: white;
}

.tag:hover {
    font-weight: bold;
    padding: 4px;
    text-decoration: none;
}

/*===========================================================================*/
/* Search page numbers */
.page-numbers {
    margin: 10px;
}

.page-numbers a {
    font-size: 200%;
    margin-right: 15px;
}

.page-numbers a:visited {
    color: blue;
}

.page-numbers #current {
    font-weight: bold;
}

/*===========================================================================*/
/* Contents */
details {
    color: #3366FF;
    padding-bottom: 10px;
}

summary {
  outline:none;
  cursor: pointer;
  font-size: 1.5em
}

#contents {
    overflow: hidden;
    padding: 30px;
    text-align: center;
}

#contents a {
    color: #3366FF;
    display: inline-block;
    font-weight: bold;
    padding: 4px;
    font-size: 1.17em;
    font-weight: bold;
    margin: auto;
    width: 100px;
}

#contents > div.sub a {
    color: black;
}

#contents a:link, #navigation-bar a:visited {
    text-decoration: none;
}

#contents a:hover, #navigation-bar a:active{
    background-color: #DDDDDD;
}
#contents a:hover {
    border-radius: 25px;
}

#contents > div.sub {
    margin: auto;
    width: 80%;
}

/*===========================================================================*/
/* Navigation bar */
#navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navigation-bar li {
    border: 1px solid #C0C0C0;
    float: left;
}

#navigation-bar a, #navigation-bar a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #3366FF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#navigation-bar a:hover, #navigation-bar a:active{
    background-color: #DDDDDD;
}

/*===========================================================================*/
/* Dropdown style */
.dropdown {
    float: left;
    /* overflow: hidden; */
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

/*===========================================================================*/
/* Debug style */
.debug {
    color: red;
}

#debug-view {
    font-weight: bold;
    padding: 4px;
    padding-left: 300px;
    margin: 0px;
    margin-bottom: 7px;
}


/*===========================================================================*/
/* Add a page container and content wrapping container to properly position */
/* the footer. */
#page-container {
    position: relative;
    min-height: 95vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

/*===========================================================================*/
/* Footer style */
#footer {
    color: #3366FF;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
}

/*===========================================================================*/
/* Recipe preview image */
.preview-image {
    max-width: 300px;
    max-height: 300px;
}

/*===========================================================================*/
/* Recipe preview image */
.image-gallery img {
    max-width: 300px;
    max-height: 300px;
}